<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs', {title: title}) %>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <%- include('partials/header.ejs') %>

        <div class="container plot-container p-2">
            <div>
                <a href="/" class="btn btn-primary">&larr; Back</a>
            </div>
            <div id="dataPlot" style="width: 100%; height: 400px;"> </div>
        </div>
    <%- include('partials/footer.ejs') %>
    <script>

        // Embed data and layout using JSON.stringify()
        const chartData = [{
            x: <%- JSON.stringify(data.x) %>,
            y: <%- JSON.stringify(data.y) %>,

        }]

        const currentTheme = document.body.getAttribute('data-bs-theme')
        const chartLayout = {
            title: 'Price trends',
            xaxis: {title: 'Date'},
            yaxis: {title: 'Price'},
            paper_bgcolor: currentTheme === 'dark' ? 'rgba(0, 0, 0, 0)' : 'rgba(255, 255, 255, 0)', // Transparent background
            plot_bgcolor: currentTheme === 'dark' ? 'rgba(0, 0, 0, 0)' : 'rgba(255, 255, 255, 0)', // Transparent plot area
            font: {
                color: currentTheme === 'dark' ? 'black' : 'grey'
            }
        }
        // Create the plot
        Plotly.newPlot('dataPlot', chartData, chartLayout);
    </script>
    </body>
</html>
