<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs', {title: title}) %>
    </head>
    <body>
        <h1 class="text-center">Welcome to the <%= title %></h1>

        <div class="container hei">
            <% if(errors.length > 0) { %>
                <%- include('partials/errors.ejs', {errors:errors}) %>
            <% } else if(posts.length === 0){%>
                <h2>No posts available.</h2>
            <% } else { %>
                <div>
                    <a href="/chart" class="btn btn-primary">View chart</a>
                </div>
                <%- include('partials/postsPartial.ejs', {posts:posts}) %>
            <% } %>
        </div>
<%- include('partials/footer.ejs') %>
    </body>
</html>
